name: CD

on:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Lint code using ruff
      uses: actions/setup-python@v3
      with:
        python-version: 3.13
    - name: Install dependencies
      run: |
        python -m pip install ruff
    - name: Run ruff
      run: |
        ruff check --output-format=github
      
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v3
      with:
        python-version: 3.13
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest-cov
    - name: Run tests
      run: pytest --cov=ftr_flags --cov-report=xml --cov-report=html

    - name: Upload coverage HTML
      uses: actions/upload-artifact@v4
      with:
          name: coverage-html
          path: htmlcov/

    - name: Upload coverage XML
      uses: actions/upload-artifact@v4
      with:
          name: coverage-xml
          path: coverage.xml

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Github Container Registry
      uses: docker/login-action@v2
      with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHPR_PAT }}

    - name: Build Docker image
      run: |
        docker build -t ghcr.io/${{ github.repository_owner }}/feature_flags:latest .

    
    - name: Push Docker image
      run: |
        docker push ghcr.io/${{ github.repository_owner }}/feature_flags:latest
